header.top{
  max-width: 80rem;
  /*tamanho maximo do header*/
  width: 100%;
  padding: 1.25rem 2rem;
  margin-inline: auto; /*quando der zoom ou diminuir fica tudo alinhado*/

  display: flex;
  align-items: center;
  justify-content: space-between;


  img {
    width: 2rem;
    height: 2rem;

    /*transição de 500ms*/
    transition: transform 500ms;
  }

  /*procure a img que tem a sequencia de caracteres logo*/
  img[src*="logo"]:hover {
    /*quando passar o mouse em cima ele vai rotacionar*/

    transform: rotate(90deg);
  }

  img[src*="shopping"]:hover {
    transform: rotate(-30deg);
  }

  a {
    position: relative;
  }

  a span {
    font: 500 0.75rem/1.3 "Inter", sans-serif;
    position: absolute; /*absoluto ao 'a'*/
    top: -0.5rem;
    right: -0.5rem;

    background-color: var(--snitap-sun);

    width: 1.25rem;
    height: 1.25rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
  }
}

@media only screen and (max-width: 768px) {

  header.top{
    max-width: 22.5rem;
    /*tamanho maximo do header*/

  }
  
}
