section.hero {
  max-width: 80rem;
  width: 100%;
  padding: 2.5rem 2rem;
  margin-inline: auto;
  /*quando der zoom ou diminuir fica tudo alinhado*/

  display: flex;
  /*colocando tudo do lado do outro*/
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  & h1 {
    max-width: 40rem;
  }


  & h1 div {
    display: inline-block;
    /*em alguns momentos eu quero que ela fique em linha e nao quebre*/

    /** limites de tamanho*/
    overflow: hidden;

    height: 5rem;
    /*altura de uma letra*/

    width: min-content;
    /*ele vai ver a palavra maior e vai encaixr nessa palavra maior. Qual o minimo que posso ter dessa caixa que nao vai quebrar as letras, mas pode quebrar palavras*/
    vertical-align: bottom;
    /*alinhar todas as palavras*/



  }

  & h1 span:nth-child(1),
  & h1 span:nth-child(4) {
    color: var(--snitap-sky-mid);
    /*radical*/
  }

  & h1 span:nth-child(2) {
    color: var(--snitap-joy-mid);
    /*divertida*/
  }

  & h1 span:nth-child(3) {
    color: var(--snitap-leaf-mid);
    /*saudavel*/
  }



  /*aplicando a animação*/
  & h1 span {
    display: block;
    /*garantir que ele fica o quadrado certinho*/

    animation: slideUp 5s 2s infinite ease;
    /*nome de animação e o tempo*/
  }


  /*--------------buttons---------------*/

  & .buttons {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;

    & .button {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      border-radius: 5rem;

      /*aplicando a animação no botão*/
      transition: scale 350ms;

      &.buy {
        /*sem espa~ço pq está atrelado ao button*/

        background-color: var(--snitap-sun);
        padding: 1.5rem 3rem;

      }

      &.play span {
        padding: 1.5rem;
        border-radius: 50%;
        background-color: white;
        display: flex;
      }

      /*animação quando passar mouse em cima */
      &:hover {
        scale: 1.1;
        /* transform: scale(1.1); --- também funciona,  multiplos browsers */
      }
    }

    & .shadow {
      /*sombra dos botoes*/

      /*multiplas sombras*/
      /*deslocamento eixo x e deslocamento eixo e y 5px de blur e cor*/
      box-shadow:
        0 2px 5px rgb(0 0 0 / .1),
        0 9px 9px rgb(0 0 0 / .09),
        0 20px 12px rgb(0 0 0 / .05),
        0 36px 15px rgb(0 0 0 / .01);
    }


  }

  /*--------------patins---------------*/

  &>div:nth-child(2) {
    /*primeiro nivel de div do hero pega a div numero 2 */
    display: block;
    /* deixar tudo como bloco*/
    width: 100%;
    /*largura de 100% do que tiver de espaço*/
    max-width: 30.5rem;
    height: 30.5rem;


    /*caixa das imagens do patins*/
    /*proteger que minha animação fique dentro desta caixa*/
    & .content {
      width: 100%;
      height: 100%;
      position: relative;
    }

    & img {
      position: absolute;
      /*colocando todas as imagens dentro dessa caixa*/
      width: 100%;
      /*todas as imagens com lagura 100%*/
    }

    & img[src*="ellipse"] {
      /*pegar a imagem da bolinha azul*/
      width: 94%;
      top: 3%;
      /*afasta do topo e esquerda */
      left: 3%;

      transform: translateX(200%);
      /*200% tirando a bolinha para o lado direito*/
      animation: slideIn 3s 200ms ease forwards;
      /*chegando a bolinha, ease =tranquila, e quando acabar eu quero que ela continue na posição de termino 100% (fowards ou both)  e não volte
      atraso de 200ms */
    }

    & img[src*="patins"] {
      z-index: 1;
      /*coloca a imagem do patins por cima de todas as imagens*/

      transform: translateX(200%);
      /*afasta o patins */
      animation: slideIn 3s ease forwards;
      /*chegada*/
    }

    & img[src*="stars-1"] {
      max-width: 5.5rem;
      top: 30%;
      /*deslocamento do topo*/
      z-index: 0;
      /*estrela em cima da bolinha azul*/

      opacity: 0;
      /*some da tela*/
      transform: translateX(400%);
      animation: slideIn 2s 800ms ease both, appear 100ms 800ms both;
      /*800ms para iniciar*/
    }


    /*posicionamento final da imagem da bola com patins*/
    & img[src*="stars-2"] {
      max-width: 2.5rem;
      right: 0;
      /*jogar no canto direito*/
      bottom: 35%;
      /*afasta 30% da parte de baixo*/

      transform: translateX(400%);
      /*tira da tela*/
      animation: slideIn 2.2s 800ms ease both;
    }


  }
}

/**/

/*animação da bola com patins*/
@keyframes slideIn {

  /*no 50% ele passa um pouquinho*/
  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
    /*posição de chegada*/
  }

}

/*animação de aparecer*/
@keyframes appear {
  to {
    opacity: 1;
  }
}


/*timeline do radical, divertida e saudavel*/
@keyframes slideUp {

  /*------- radical static------*/
  /*do 0% até 22% vai ter um ponto*/
  0%,
  22% {
    transform: translateY(0);
    /*vai fazer a palavra ir pra cima e pra baixo*/
  }

  /* --------divertida in-------*/
  23% {
    transform: translateY(calc(-5rem - 15px));
    /*tira 15px do 5rem, indo 15px acima, dando o pulo*/
  }

  25% {
    transform: translateY(-5rem + 10px);
    /*posição dela de 5remn + 10px do 5rem,dando pulo a mais*/
  }

  27% {
    transform: translateY(-5rem - 5px);
    /*posição dela de 5rem - 5px do 5rem, dando outro pulo diferente*/
  }

  29% {
    transform: translateY(-5rem + 5px);
    /*posição dela de 5rem + 5px do 5rem, dando outro pulo diferente*/
  }



  /* -------divertida static-------*/
  /*do 33% até 55% vai ter outro ponto*/
  33%,
  55% {
    transform: translateY(-5rem);
    /*altura da caixa*/
  }

  /*------- saudavel in------*/
  56% {
    transform: translateY(calc(-10rem - 15px));
    /*posição do radical -15px para subir*/
  }

  58% {
    transform: translateY(calc(-10rem + 10px));
  }

  60% {
    transform: translateY(calc(-10rem - 5px));
  }

  62% {
    transform: translateY(calc(-10rem + 5px));
  }


  /*------- saudavel static------*/
  /*do 66% até 88% vai ter outro ponto*/
  66%,
  88% {
    transform: translateY(-10rem);
  }

  /*------- radical in------*/
  89% {
    transform: translateY(calc(-15rem - 15px));
    /*posição do radical -15px para subir*/
  }

  91% {
    transform: translateY(calc(-15rem + 10px));
  }

  93% {
    transform: translateY(calc(-15rem - 5px));
  }

  95% {
    transform: translateY(calc(-15rem + 5px));
  }

  100% {
    transform: translateY(-15rem);
    /*finaliza na ultima palavra radical, parecendo que está infinito*/
  }
}

@media only screen and (max-width: 768px) {

  section.hero {
    max-width: 48rem;
    padding: 1rem 2rem;

    display: flex;
    /*colocando tudo do lado do outro*/
    flex-direction: column-reverse;
    align-items: center;


    & h1 {
      max-width: 36rem;
      font-size: 32px;
    
    }


    & h1 div {

      height: 2.3rem;
      font-size: 32px;
      /*altura de uma letra*/

    }


    & .buttons {
      display: flex;
      flex-direction: column-reverse;
      gap: 1.5rem;

    }

    &>div:nth-child(2) {
      max-width: 18.46rem;
      height: 18.46rem;
      margin-bottom: 40px;
    }
  }

}
